.features-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}

.features-list__item {
  width: calc(50% - (32px / 2));
}

.features-list--alternate .features-list__item {
  display: flex;
  width: calc(25% - (96px / 4));
}