.page-banners {
    display: flex;
    justify-content: space-between;
    background-color: #E7EFFF;
    border-radius: 12px;
    padding: 32px;
  }

  .page-banners--debetCards {
    background-color: #476BF0;
  }
  
  .page-banners--card3 {
    background-color: rgba(207, 246, 231, 1);
  }
  
  .page-banners--card4 {
    background-color: rgba(196, 231, 255, 1);
    ;
  }
  
  .page-banners--debetCards .banners__credits-label {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
  }
  
  .page-banners--debetCards .banners__h2 {
    color: #ffffff;
  }
  
  .page-banners--debetCards .banners__low-bid {
    color: #ffffff;
  }
  
  .page-banners--debetCards .banners__podrobnee {
    background-color: #ffffff;
    color: #476BF0;
  }
  