.page-wrapper {
  display: flex;
  flex-direction: column;
}

.page-wrapper .features-card {
  display: flex;
  flex-direction: column;
} 

.page-wrapper .features-card__wrap {
  display: flex;
  align-items: center;
  text-align: center;
}

.page-wrapper .features-card__label {
  margin: 0 0 8px 0;
}

.page-wrapper .features-card__title {
  margin: 0 0 8px 0;
}

.page-wrapper .features-card__note {
  margin: 0 0 40px 0;
}

.page-wrapper .features-card__img {
  width: 210px;
  height: 135px;
  margin: 0 0 25px 0;
}

